@font-face {
    font-family: "Caskaydia";
    src: url("./font/CaskaydiaCoveNerdFont-Regular.ttf") format("truetype");
}

* {
    font-family: "Caskaydia";
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: white;
}

#header {
    box-sizing: border-box;
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#body {
    height: 500px;
}

#footer {
    background-image: url("./img/footer.svg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#title {
    margin: 0px;
}

#homepage {
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
#homepage:hover,
#homepage:active {
    color: #0e8b6e;
}

.link {
    font-size: 30px;
    color: #117c63;
    text-decoration: none;
    padding: 10px;
}
.link:hover,
.link:active {
    color: #0e8b6e;
}

#dark-mode {
    padding: 10px;

    float: right;

    background: none;
    border: none;

    color: white;
    font-size: 25px;
}

#repo {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#repo:hover,
#repo:active {
    color: #1c3e36;
}

#info {
    padding-top: 50px;
    padding-bottom: 100px;
    margin: auto;
    background-color: #212121;
    width: 400px;
}

button {
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}
