body {
    margin: 0;
    background-color: #14181C;
}
h1 {
    color: #F1F3F4;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    
}
h2 {
    color: #F1F3F4;
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
#info{
    margin-top:50px;
}
.title {
    background-image: linear-gradient(#1F262D, #14181C);
    margin: 0;
    padding-top: 50px;
}

h3{
    color: #F1F3F4;
    font-family: sans-serif;
}
a:link {
    color: #5F4747;
  }
  
  /* visited link */
  a:visited {
    color: #5F4747;
  }
  
  /* mouse over link */
  a:hover {
    color: #6A8AA3;
  }
  
  /* selected link */
  a:active {
    color: #6A8AA3;
  }
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        margin-top: 35px;
    }
    .title {
        padding-bottom: 100px;
    }
    #qrCode{
        width: 50%;
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #info{
        box-align: center;
        text-align:center;
    }
}

@media only screen and (min-width: 1000px) {
    #qrCode{
        
        width: 300px;
        float:left;
    }
    #div1{
        display: flex;
        justify-content: center;
    }
    #info{
        float: left;
        margin-left: 100px;
    }
    .title{
        padding-bottom: 150px;
    }
    h2{
        margin-top:50px;
    }
    h1{
        font-size: 24px;
    }
}