body {
    margin: 0;
    background-color: #14181C;
}
h1 {
    color: #F1F3F4;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    
}
h2 {
    color: #F1F3F4;
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-top:50px;
}
.title {
    background-image: linear-gradient(#1F262D, #14181C);
    margin: 0;
    padding-bottom: 150px;
    padding-top: 50px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    .title {
        padding-bottom: 100px;
    }
}